<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>DatosLogueadoServlet</servlet-name>
        <servlet-class>DatosLogueadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoriasServlet</servlet-name>
        <servlet-class>CategoriasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerServiciosServlet</servlet-name>
        <servlet-class>VerServiciosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatsServlet</servlet-name>
        <servlet-class>CatsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformacionServicioServlet</servlet-name>
        <servlet-class>InformacionServicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPromocionesServlet</servlet-name>
        <servlet-class>VerPromocionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPromosServlet</servlet-name>
        <servlet-class>VerPromosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformacionPromocionServlet</servlet-name>
        <servlet-class>InformacionPromocionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DatosLogueadoServlet</servlet-name>
        <url-pattern>/DatosLogueadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoriasServlet</servlet-name>
        <url-pattern>/categoriasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerServiciosServlet</servlet-name>
        <url-pattern>/VerServiciosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatsServlet</servlet-name>
        <url-pattern>/CatsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformacionServicioServlet</servlet-name>
        <url-pattern>/InformacionServicioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPromocionesServlet</servlet-name>
        <url-pattern>/VerPromocionesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPromosServlet</servlet-name>
        <url-pattern>/VerPromosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformacionPromocionServlet</servlet-name>
        <url-pattern>/InformacionPromocionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
